{% extends 'SheadFencingBundle::layout.html.twig' %}
{% block content %}


    <h1>Competition list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Datec</th>
                <th>Arme</th>
                <th>Categorie</th>
                <th>Sexe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('competition_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.lieu }}</td>
                <td>{% if entity.datec %}{{ entity.datec|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{{ entity.arme }}</td>
                <td>{{ entity.categorie }}</td>
                <td>{{ entity.sexe }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('competition_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li>
                        <a href="{{ path('competition_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
        <ul>
        <li>
            <a href="{{ path('competition_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endif %}

    {% endblock %}
