{% extends 'SheadFencingBundle::layout.html.twig' %}
{% block content %}
	

<h1>
	Club
</h1>
<table class="table">

<tr>
	<th>CODE</th>
	<th>NOM</th>
	<th>VILLE</th>
	<th>ZONE</th>
	<th>LIGUE</th>
	<th>DEPARTEMENT</th>

</tr>


<tr>
	<td>{{ club.code }}</td>
	<td>{{ club.nom }}</td>
	<td>{{ club.ville }}</td>
	<td>{{ club.zone }}</td>
	<td>{{ club.ligue }}</td>
	<td>{{ club.nodep }}</td>

</tr>
   


</table>


<h3>Licenciés</h3>

<table class="table">
	<tr>
		<th>Code</th>
		<th>Nom</th>
		<th>Prénom</th>
		<th>Date de naissance</th>
	</tr>
	{% for licencie in licencies %}
		<tr>
			<td> {{ licencie.codet }} </td>
			<td> {{ licencie.nom }} </td>
			<td> {{ licencie.prenom }} </td>
			<td>  {{ licencie.daten }} </td>
		</tr>
	    
	{% endfor %}
</table>

{# <h4>Ajouter un licencié</h4>


{{ render(controller("SheadFencingBundle:Fencing:addLicencies" ,{"club_id" : club.id })) }} #}

{% endblock %}